.quickaction {
    background-color: white;
    height: 120px;
    position: absolute;
    width: 90px;
    z-index: 2;
}

.ContextItem {
    height: 40px;
    padding-top: 10px;
    text-align: center;
}

.ContextItem:hover {
    background-color: lightgray;
}
