.GeneralForm {
    width: 60%;
    margin-top: 55px;
}

.mediacenternameform {
    margin-top: 25px;
    width: 40%;
}

.infoheader {
    display: flex;
    flex-wrap: wrap;
}

/* On screens that are 722px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 722px) {
    .infoheader {
        flex-direction: column;
    }
}

