.GeneralForm {
    margin-top: 55px;
    width: 60%;
}

.mediacenternameform {
    margin-top: 25px;
    width: 40%;
}

.infoheader {
    display: flex;
    flex-wrap: wrap;
}

.footer{
    position: fixed;
    right: 0;
    bottom: 3px;
    width: 110px;
    opacity: 0.8;
    color: white;
}

/* On screens that are 722px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 722px) {
    .infoheader {
        flex-direction: column;
    }
}

