.Shufflebutton {
    align-content: center;
    width: 100%;
}

.btnshuffle {
    background-color: #39a945;

    border: none;
    border-radius: 10px;
    color: white;
    font-size: larger;
    font-weight: bold;
    margin-left: 45%;
    margin-top: 20px;
    padding: 15px 25px 15px 25px;
}

.btnshuffle:focus {
    outline: none;
}
