Package: OpenMediaCenter
Depends: nginx, mariadb-server, libffmpeg-ocaml
Section: web
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: heili.eu
Description: OpenMediaCenter
