.pageheader {
    padding: 20px 12% 20px 22%;
}

.pageheadertitle {
    font-size: 40pt;
    font-weight: bold;
}

.pageheadersubtitle {
    font-size: 23pt;
    margin-left: 20px;
    opacity: 0.6;
}
