.pageheader {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 22%;
    padding-right: 12%;
}

.pageheadertitle {
    font-size: 40pt;
    font-weight: bold;
}

.pageheadersubtitle {
    font-size: 23pt;
    margin-left: 20px;
    opacity: 0.6;
}
