.previewtitle {
    height: 20px;
    text-align: center;
    font-weight: bold;
    max-width: 266px;
    font-size: smaller;
}

.previewpic {
    min-width: 266px;
    min-height: 150px;
    height: 80%;
    overflow: hidden;
    text-align: center;
}

.loadAnimation {
    display: inline-block;
    line-height: 150px;
    vertical-align: center;
}

.previewimage {
    min-height: 150px;
    max-height: 400px;
    min-width: 266px;
    max-width: 410px;
}

.previewbottom {
    height: 20px;
}

.videopreview {
    float: left;
    margin-left: 25px;
    margin-top: 25px;
    cursor: pointer;
    opacity: 0.85;
    border-radius: 20px;
}

.videopreview:hover {
    opacity: 1;
    transition: all 300ms;
}

.tagpreview {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    height: 150px;
    width: 266px;
}

.tagpreviewtitle {
    margin-top: 55px;
}
