.previewtitle {
    height: 20px;
    color: #3d3d3d;
    text-align: center;
    font-weight: bold;
    max-width: 266px;
    font-size: smaller;
}

.previewpic {
    height: 80%;
    overflow: hidden;
}

.previewimage {
    max-height: 400px;
    min-width: 266px;
    max-width: 410px;
}

.previewbottom{
    height: 20px;
}

.videopreview {
    /*width: 250px;*/
    float: left;
    margin-left: 25px;
    margin-top: 25px;
    /*background-color: #7F7F7F;*/
    background-color: #a8c3ff;
    cursor: pointer;
    opacity: 0.9;
    border: 10px;
    border-radius: 20px;
}

.videopreview:hover {
    opacity: 1;
    transition: opacity 0.5s;
}
