.tagbtn {
    background-color: #3574fe;
    border: none;
    border-radius: 10px;
    color: white;
    display: block;
    margin: 10px;
    /*font-weight: bold;*/
    padding: 5px 15px 5px 15px;
}

.tagbtn:focus {
    background-color: #004eff;
    outline: none;
}

.tagbtn:hover {
    background-color: #004eff;
}
