.popup {
    border: 3px #3574fe solid;
    border-radius: 18px;
    height: fit-content;
    left: 20%;
    min-height: 80%;
    opacity: 0.95;
    position: absolute;
    top: 10%;
    width: 60%;
    z-index: 2;
}

.header {
    cursor: move;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.title {
    float: left;
    font-size: x-large;
    margin-left: 15px;
    margin-top: 10px;
    opacity: 1;
    width: 60%;
}

.banner {
    display: flex;
    flex-direction: row;
    float: left;
    justify-content: flex-end;
    width: 40%;
}

.content {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    opacity: 1;
    overflow: auto;
}
