.closebutton {
    background-color: #FF0000;
    border: none;
    border-radius: 10px;
    color: white;
    margin-left: 25px;
    margin-top: 25px;
    padding: 5px 15px 5px 15px;
}

.videowrapper {
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    width: 60%;
}

.videoactions {
    margin-top: 15px;
}

.actorcontainer {
    margin-top: 13px;
}

.actortile {
    float: left;
    width: 130px;
    height: 200px;
    background-color: #0b2e13;
    margin: 3px;
    border-radius: 10px;
    cursor: pointer;
}

.actortile_thumbnail {
    height: 160px;
    text-align: center;
    margin-top: 10px;
    color: #c6c6c6;
}

.actortile_name {
    text-align: center;
    color: white;
/*todo dynamic text coloring dependent on theme*/
}
