.closebutton {
    background-color: #FF0000;
    border: none;
    border-radius: 10px;
    color: white;
    margin-left: 25px;
    margin-top: 25px;
    padding: 5px 15px 5px 15px;
}

.videowrapper {
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: 25px;
    width: 60%;
    margin-top: 20px;
}

.videoactions {
    margin-top: 15px;
}
