.newactorbutton {
    border-radius: 5px;
    border-width: 0;
    color: white;
    margin-right: 15px;
    margin-top: 12px;
    padding: 6px;
    background-color: green;
    width: 140px;
    width: 140px;
}
