.newactorbutton {
    background-color: green;
    border-radius: 5px;
    border-width: 0;
    color: white;
    margin-right: 15px;
    margin-top: 12px;
    padding: 6px;
    width: 140px;
}

.searchinput {
    float: left;
    width: 120px;
}

.searchbar {
    margin-bottom: 13px;
}
