.app {
    user-select: none;
}

.navitem {
    cursor: pointer;
    float: left;

    font-size: large;
    font-weight: bold;

    margin-left: 20px;
    opacity: 0.6;
    text-transform: capitalize;
}

.navitem:hover {
    opacity: 1;
    transition: opacity .5s;
}

.navitem::after {
    content: '';
    display: block;
    height: 2px;
    transition: width .3s;
    width: 0;
}

.navitem:hover::after {
    width: 100%;
}


.navitemselected {
    opacity: 0.85;
}

.navcontainer {
    border-style: dotted;
    border-width: 0 0 2px 0;

    padding-bottom: 40px;
    padding-top: 20px;
    width: 100%;
}

.navbrand {
    float: left;
    font-size: large;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: capitalize;
}


