/**
 * The coloring elements for dark theme
 */

.backgroundcolor{
    background-color: #141520;
}

.textcolor{
    color: white;
}

.subtextcolor{
    color: #dedad6;
}

.navitem::after {
    background: white;
}

.hrcolor{
    border-color: rgba(255,255,255,.1);
}

.previewhover:hover{
    box-shadow: rgba(255, 255, 255, 0.7) 0 0 0 5px;
}

