/**
 * The coloring elements for light theme
 */

.navitem::after {
    background: black;
}

.backgroundcolor {
    background-color: white;
}

.textcolor {
    color: black;
}

.subtextcolor {
    color: #212529;
}

.lighttextcolor {
    color: #3d3d3d;
}

.hrcolor {
    border-color: rgba(0, 0, 0, 0.1);
}

.secbackground {
    background-color: #a8c3ff;
}

.preview:hover {
    box-shadow: rgba(2, 12, 27, 0.7) 0 0 0 5px;
}
