.sideinfo {
    width: 20%;
    float: left;
    padding: 20px;
    margin-top: 25px;
    margin-left: 15px;
    border-radius: 20px;
    border: 2px #3574fe solid;
    overflow: hidden;
}

.sidebartitle {
    font-weight: bold;
    font-size: larger;
}

.sidebarinfo {
    margin-top: 5px;
    border-radius: 5px;
    padding: 2px 10px 2px 15px;
    width: 220px;
}
